* {
box-sizing: border-box;
border: none;
margin: 0;
padding: 0;
scroll-padding-top: 90px; /* height of sticky header */
}

body {
  position: relative;
  background-color: #EEEEEE;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 50px;
  background-color: #C1D8C3;
  border-bottom: 2px solid #6A9C89;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: #186F65;
  transition: all 0.3s ease 0s;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 50px;
}

#nav-title {
  font-size: 1.5em;
  font-family: "Courier", monospace;
  font-style: bold;
}

main {
  max-width: 75%;
  height: auto;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

p {
  padding-top: 20px;
  padding-bottom: 10px;
}

h1, h2, h3, h4 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.hey h1 {
  font-family: Trattatello, fantasy;
  font-size: 7em;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tower-button {
  padding: 1em;
}

.tower-button span {
  background-color: #C1D8C3;
  padding: 0.45em;
  width: 4em;
  border: 2px solid #6A9C89;
  border-radius: 7px;
}

.tower-button a {
  color: black;
  text-decoration: none;
  font-family: monospace;
}

.tower-button a:hover {
  border-radius: 7px;
  outline: none;
  box-shadow: 0 0 25px #C1D8C3;
}

@media (max-width: 600px) {
  .hey h1 {
  font-size: 3em;
  height: 8em;
  }
}

.flex-column {
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  padding: 20px;
}

section a {
  color: #186F65;;
  text-decoration: none;
}

section a:hover  {
  color: #6A9C89
  text-shadow: 0 0 0px #fff, 0 0 2px #C1D8C3, 0 0 4px #C1D8C3, 0 0 6px #C1D8C3, 0 0 8px #C1D8C3, 0 0 10px #C1D8C3, 0 0 12px #C1D8C3;
}

.between {
  padding: 20px 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
   background-color: #F08080;
  padding: 0.45em;
  border-radius: 7px;
}

input[type="submit"]:hover {
    border-radius: 7px;
  outline: none;
    border-color: white;
    box-shadow: 0 0 25px white;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
